###################################################
# ucf file for Basys 2 pins only...
# DIP SWITCH CONNECTIONS
# DIPSW<0,1,2,3> on Basys 2
NET 'a<0>'LOC='P11';
NET 'a<1>'LOC='L3';
NET 'a<2>'LOC='K3';
NET 'a<3>'LOC='B4';
# DIPSW<4,5,6,7> on Basys 2
NET 'b<0>'LOC='G3';
NET 'b<1>'LOC='F3';
NET 'b<2>'LOC='E2';
NET 'b<3>'LOC='N3';
# LED CONNECTIONS (Active-Low) on Basys 2
NET 's<0>'LOC='M5';
NET 's<1>'LOC='M11';
NET 's<2>'LOC='P7';
NET 's<3>'LOC='P6';
# PUSH BUTTON
NET 'sub'LOC='G12';
# LED 7 on Basys2
NET 'cout'LOC='N5';
################################################### 
#Created by Constraints Editor (xc3s100e-cp132-4) - 2015/09/18
#Created by Constraints Editor (xc3s100e-cp132-4) - 2015/09/18
#Created by Constraints Editor (xc3s100e-cp132-4) - 2015/09/18
