//! **************************************************************************
// Written by: Map O.61xd on Fri Nov 20 13:39:36 2015
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "c<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "c<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "c<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "c<3>" LOCATE = SITE "B4" LEVEL 1;
COMP "d<0>" LOCATE = SITE "K14" LEVEL 1;
COMP "c<4>" LOCATE = SITE "G3" LEVEL 1;
COMP "d<1>" LOCATE = SITE "M13" LEVEL 1;
COMP "c<5>" LOCATE = SITE "F3" LEVEL 1;
COMP "d<2>" LOCATE = SITE "J12" LEVEL 1;
COMP "c<6>" LOCATE = SITE "E2" LEVEL 1;
COMP "d<3>" LOCATE = SITE "F12" LEVEL 1;
COMP "c<7>" LOCATE = SITE "N3" LEVEL 1;
COMP "s<0>" LOCATE = SITE "M12" LEVEL 1;
COMP "s<1>" LOCATE = SITE "L13" LEVEL 1;
COMP "s<2>" LOCATE = SITE "P12" LEVEL 1;
COMP "s<3>" LOCATE = SITE "N11" LEVEL 1;
COMP "s<4>" LOCATE = SITE "N14" LEVEL 1;
COMP "s<5>" LOCATE = SITE "H12" LEVEL 1;
COMP "s<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "start" LOCATE = SITE "G12" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

